<?xml version="1.0" encoding="UTF-8"?><add>
<doc><field name="type">Book</field><field name="corp_author">Moline (Illinois) Public schools</field><field name="title">Annual report for the Moline Public Schools</field><field name="date">1903-1942</field><field name="keywords">Public schools</field><field name="notes">Title varies slightly, Cubberley Education Library holdings 1903-1942;Shelved in Cubberley Library Reading Room</field><field name="publisher">Moline (Illinois) Public schools</field><field name="pub_place">Moline, IL</field><field name="language">English</field><field name="call_number">379.741 .I11m</field><field name="state_country">Illinois</field></doc>
<doc><field name="type">Book</field><field name="corp_author">Moline (Illinois) Public schools</field><field name="title">Course of study for the elementary grades of Moline public schools</field><field name="year">1919</field><field name="date">1919</field><field name="pages">42</field><field name="keywords">Curricula</field><field name="notes">Shelved in Cubberley Library Reading Room</field><field name="publisher">Moline (Illinois) Public schools</field><field name="pub_place">Moline, ILL</field><field name="language">English</field><field name="call_number">379.741 .I11m 1919</field><field name="state_country">Illinois</field></doc>
<doc><field name="type">Book</field><field name="corp_author">Quincy (Illinois) Board of Education</field><field name="title">Annual report of the Board of Education of the City of Quincy for the school year ending</field><field name="date">1889-1906</field><field name="keywords">Public schools</field><field name="notes">Cubberley Education Library holdings 1889/1890-1905/1906; Shelved in Cubberley Library Reading Room</field><field name="publisher">Quincy (Illinois) Board of Education</field><field name="pub_place">Quincy, IL</field><field name="language">English</field><field name="call_number">379.741 .I11q</field><field name="state_country">Illinois</field></doc>
<doc><field name="type">Book</field><field name="corp_author">Rock Island (Illinois) Board of Education</field><field name="title">Annual report of the Superintendent of Schools</field><field name="date">1939-1940</field><field name="keywords">Public schools</field><field name="notes">Cubberley Education Library holdings 1939/1940; Shelved in Cubberley Library Reading Room</field><field name="publisher">Rock Island (Illinois) Board of Education</field><field name="pub_place">Rock Island, IL</field><field name="language">English</field><field name="call_number">379.741 .I11r</field><field name="state_country">Illinois</field></doc>
<doc><field name="type">Book</field><field name="corp_author">Rock Island (Illinois) Board of Education</field><field name="title">Annual report of the Department of Public Education</field><field name="date">1919</field><field name="keywords">Public schools</field><field name="notes">Cubberley Education Library holdings 1919; Shelved in Cubberley Library Reading Room</field><field name="publisher">Rock Island (Illinois) Board of Education</field><field name="pub_place">Rock Island, IL</field><field name="language">English</field><field name="call_number">379.741 .I11r</field><field name="state_country">Illinois</field></doc>
<doc><field name="type">Book</field><field name="corp_author">Rock Island (Illinois) Board of Education</field><field name="title">Annual report of the Board of Education</field><field name="date">1927</field><field name="keywords">Public schools</field><field name="notes">Cubberley Education Library holdings 1927; Shelved in Cubberley Library Reading Room</field><field name="publisher">Rock Island (Illinois) Board of Education</field><field name="pub_place">Rock Island, IL</field><field name="language">English</field><field name="call_number">379.741 .I11r</field><field name="state_country">Illinois</field></doc>
<doc><field name="type">Book</field><field name="corp_author">Springfield (Illinois) Superintendent of Public Schools</field><field name="title">Annual report of the Superintendent of Public Schools of Springfield, IL to the Board of Education</field><field name="date">1871-1881</field><field name="keywords">Public schools</field><field name="notes">Cubberley Education Library holdings 1871-1881; Shelved in Cubberley Library Reading Room</field><field name="publisher">Springfield (Illinois) Superintendent of Public Schools</field><field name="pub_place">Springfield, IL</field><field name="language">English</field><field name="call_number">379.741 .I11s</field><field name="state_country">Illinois</field></doc>
<doc><field name="type">Book</field><field name="corp_author">Springfield (Illinois) Board of Education</field><field name="title">Annual report of the Board of Education of the City of Springfield for the year ending</field><field name="date">1881-1882</field><field name="keywords">Public schools</field><field name="notes">Cubberley Education Library holdings 1881/1882; Shelved in Cubberley Library Reading Room</field><field name="publisher">Springfield (Illinois) Board of Education</field><field name="pub_place">Springfield, IL</field><field name="language">English</field><field name="call_number">379.741 .I11s</field><field name="state_country">Illinois</field></doc>
<doc><field name="type">Book</field><field name="corp_author">Springfield (Illinois) Public Schools</field><field name="title">Annual report of the public schools of the City of Springfield for the year ending</field><field name="date">1882-1912</field><field name="keywords">Public schools</field><field name="notes">Cubberley Education Library holdings 1882/1883-1904/1906, 1909/1910, 1911/1912; Shelved in Cubberley Library Reading Room</field><field name="publisher">Springfield (Illinois) Public Schools</field><field name="pub_place">Springfield, IL</field><field name="language">English</field><field name="call_number">379.741 .I11s</field><field name="state_country">Illinois</field></doc>
<doc><field name="type">Book</field><field name="corp_author">Springfield (Illinois) Public Schools</field><field name="title">Annual report of the Springfield Public Schools District no.186 Sangamon County, Illinois</field><field name="date">1914-1921</field><field name="keywords">Public schools</field><field name="notes">Cubberley Education Library holdings 1914/1915-1916/1917, 1918/1919-1919/1920/1920/1921; Shelved in Cubberley Library Reading Room</field><field name="publisher">Springfield (Illinois) Public Schools</field><field name="pub_place">Springfield, IL</field><field name="language">English</field><field name="call_number">379.741 .I11s</field><field name="state_country">Illinois</field></doc>
</add>